.modal-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 767px;
    background-color: var(--adress-color);
    z-index: 1000;
    transform: translateX(150%);
    transition: 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 48px 48px;
    &.is-open{
        transform: translateX(0);
    }
}


.close-icon{
    width: 18px;
    height: 18px;

}
.modal-close-mob{
    width: 40px;
    height: 40px;
    background-color: var(--adress-color);
    border: none;
}
.modal-close-mob:hover .close-icon{
    fill: var(--logo-color);
}

.button-min-div{
    display: flex;
    flex-direction: row-reverse;
}

.mob-menu-nav{
    font-weight: 500;
font-size: 40px;
line-height: 1.18;
letter-spacing: 0.02em;
.mob-menu-nav-li{margin-bottom: 32px;
    color: var(--title-color);
&:hover{
    color: var(--logo-color);
}
}
}

.mob-menu-contacts-div{
    position: absolute;
    width: 100%;
   bottom: 0;
.mob-menu-contacts{
    

.mod-mob-tel{
    font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
    color: var(--logo-color);
    margin-bottom: 34px;
}
font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;
color: var( --main-color);
margin-bottom: 64px;
}
    
}


.mob-menu-links{
    display: flex;
    font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: var(--logo-color);
    .mob-links{margin-right: 20px;}
    
}

.navigation{
    display: flex;
    justify-content: space-between;
}