body {
    font-family: Roboto, sans-serif;
    background: #ffffff;
    color: #757575;
  }
  
  
  
  .menu-item:hover,
  .menu-item:focus {
    color: var(--logo-color);
  }
  
  
  
  
  
  .web-link {
    display: block;
  }