.hidden-header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.Group::before {
  background-image: url(../images/Group.svg);
}
.clock::before {
  background-image: url(../images/clock.svg);
}
.diagram::before {
  background-image: url(../images/diagram.svg);
}
.astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.item-list-g::before {
  display: block;
  content: "";
  height: 120px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}


.categories {
  text-align: center;}

.item-list-g:not(:last-child){
  
  margin-bottom: 30px;
}
.description-section {
  
  
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px){
  .item-list-g:not(:last-child){
    margin-right: 30px;}
  .description-conteiner {
    display: flex;
  }
  .item-description {
    display: flex;
    flex-wrap: wrap;
    
  }
  .item-list-g {flex-basis: calc((100% - 60px) / 2);}
  .categories {
    text-align: left;}

}

 @media screen and (min-width: 1200px){
  .item-list-g {flex-basis: calc((100% - 120px) / 4);}
 .description-section {
  
  padding-top: 94px;
  padding-bottom: 94px;
}
.item-description .item-list {
  width: 270px;
}
}




.description {
  margin-right: -30px;
}




.list {
  margin-right: 30px;
} 