
.dektop-header{
  display: none;
}
.men{display: none;

}

.mob-header{
  display: flex;
  justify-content: space-between;
  .icon-modal-button{
    width: 24px;
    height: 16px;
    
  }
  .header-modal-button{
    width: 40px;
    height: 40px;
    padding-top: 12px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-left: 8px;
   background-color: #FFFFFF;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   border: none;
   &:hover .icon-modal-button{
    fill: #2196F3;
   }
  }
  .nav-link {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px){
  .header-modal-button{display: none;}
  .nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .modal-header{display: none;
    top: 0;
    width: 100vw;
height: 100vh;
  }
  .dektop-header{
    display: flex;
  }
}


.li{position: relative;
}
.li::before{
  content: "";
  width: 100%;
height: 4px;
background: #2196F3;
border-radius: 2px;
position: absolute;
bottom: 0;
}

.nav-link{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-heder {
  fill: currentColor;
  margin-right: 10px;
}


.header {
  
  border-bottom: 1px solid #ececec;
}

.header-links {
  padding-top: 10px;
  padding-bottom: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @extend  %alighn-list;
}
.men .menu-item:not(:last-child) {
  margin-right: 50px;
}
.web-link {
  margin-right: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu-li .menu-item:not(:last-child) {
  margin-right: 50px;
}

.conteiner .menu-list {
  display: flex;
}

.header .conteiner {
  min-height: 80px;
  justify-content: space-between;
  @extend  %alighn-list;
}
nav {
  @extend  %alighn-list;
}
.menu-list {
  @extend  %alighn-list ;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.lin {
  color: var(--logo-color);
}
.logo-web {
  font-family: var(--logo-font);
  font-weight: 700d;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.logo-studio {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;

  &:focus,
&:hover {
  color: var(--logo-color);
}
}

.header-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.li {
  color: var(--logo-color);
}

