.team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .team-description {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
  }
  .team-li {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .title {
    margin-bottom: 50px;
  }
  .team {
    margin-bottom: 10px;
  }
  .categories {
    margin-bottom: 10px;
  }
  
  .etem-list {
    flex-basis: calc((100%-120px) / 4);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
    margin-top: 30px;
    margin-left: 30px;
  }
  .team-li {
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
    background-color: var(--adress-color);
  }